//  Making the tab columns

@mixin make-tab-column($columns , $grid-gutter-width)
{
	position: relative ;
	min-height: 1px ;
	padding-left: ($grid-gutter-width / 2) ;
	padding-right: ($grid-gutter-width / 2) ;

	@media (min-width: $screen-tab-min){
		float: left ;
		width: percentage(($columns / $grid-columns)) ;
	}
}

@mixin make-tab-column-offset($columns)
{
	@media(min-width: $screen-tab-min)
	{
		margin-left: percentage($columns / $grid-columns) ;
	}
}